.custom-scroll-actors::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scroll-actors::-webkit-scrollbar-thumb {
  background: #e13180; 
  border-radius: 10px;
}

.custom-scroll-actors::-webkit-scrollbar-thumb:hover {
  background: #a51f5c; 
}